body { background-color: #A4A4A4; text-align: center; margin: 0 auto; }

.carousel { position: relative; }

.carousel-cell { width: 100%; /* full width */ height: 500px; /* height of carousel */ margin-right: 10px; background-position: center; background-size: cover; }

.links { font-size: 30px; padding: 20px; }

.car__links { text-align: center; }

.container { margin: 0 auto; margin-top: 10%; width: 1200px; }

.carousel__paragraph { font-size: 30px; color: white; text-align: center; }

.flickity-page-dots { display: none; }

.progress-bar { height: 20px; width: 0; background: #333; background-color: red; }

.button { position: absolute; top: 35%; left: 90%; background-color: lightblue; color: black; font-size: 20px; border-radius: 50%; width: 130px; height: 130px; border: none; outline: none; cursor: pointer; opacity: 0.5; }

.button:hover { background-color: red; color: white; opacity: 1; transition: 0.3s; }

.description { color: white; text-align: center; font-size: 30px; }

/* Set the size of the div element that contains the map */
#map { height: 400px; /* The height is 400 pixels */ width: 100%; /* The width is the width of the web page */ margin-bottom: 50px; }
